header {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: solid 4px $black;
    padding: 2rem 0;
    font-style: italic;
    letter-spacing: 0.075rem;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  /* Timer */
  div {
    text-align: right;
    margin-right: 2rem;
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0;
  }
  .switchTheme {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .switch-icon {
    margin: 0 8px;
  }
}

body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: $lightThemeText;
  background-color: $lightGreen;
  margin-inline: 5%;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark {
  background-color: $darkTheme;
  color: $darkThemeText;
}

h2 {
  font-size: 2rem;
}

button {
  background-color: $black;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  min-width: 44px;
  min-height: 44px;
  transition:
    background-color 0.3s,
    color 0.3s;
  margin-bottom: 30px;
  &:disabled {
    background-color: $grey;
    color: $darkThemeText;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  body.dark & {
    background-color: $darkThemeButton;
    color: $darkThemeTextButton;
    &:disabled {
      background-color: $darkThemeButtonDisabled;
      color: $darkThemeTextButton;
    }
  }
}

input[type="radio"]:not(:disabled) {
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  position: relative;
  bottom: -8px;
  font-size: 30px;
}

.question-container {
  .question {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .answers {
    display: grid;
    grid-template-columns: 1fr; /* Single column for stacking */
    gap: 2rem;
    margin: 0 auto;
    padding-block: 2rem;

    label {
      display: inline-block;
      vertical-align: middle;
      line-height: 44px; /* Matches the height of the radio button */
      font-size: 1.25rem;
      margin-left: 3rem;

      input {
        width: 44px;
        height: 44px;
        vertical-align: middle;
        margin-right: 1rem;
      }
    }
  }
}

.scoreboard-title {
  margin-bottom: 0;
}

.scoreboard-container {
  font-size: 1.25rem;
  margin-block: 1.5rem;

  span {
    font-weight: bold;
  }
}

.feedback {
  font-size: 1.5rem;
  font-weight: bold;
}
