header {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: solid 4px $black;
    margin: 0 5%;
    padding: 1rem 0;
  }

  div {
    text-align: right;
    margin-right: 2rem;
    font-size: 1.75rem;
    font-weight: bold;
    padding-top: 1rem;
    margin: 0 5%;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $black;
}

h2 {
  font-size: 3.5rem;
}

button {
  background-color: $black;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
}

button:disabled {
  background-color: $grey;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  position: relative;
  bottom: -8px;
  font-size: 30px;
}

#feedback {
  font-size: 1.5rem; 
  font-weight: bold; 

}
