$black: #1f1f21;
$grey: #6e6e73;
$green: #1ee200;
$red: #d51a1a;
$white: #f8f3f3;
$lightGreen: #c5fae7;

$lightTheme: #ffffff;
$lightThemeText: #1f1f21;
$darkTheme: #282828;
$darkThemeText: #ffffff;
$darkThemeTextButton: #1f1f21;
$darkThemeButton: #ffffff;
$darkThemeButtonDisabled: #484848;
