$black: #1F1F21;
$grey: #6e6e73;
$green: #1EE200;
$red: #FD3833;
$white: #f8f3f3;

$lightTheme: #ffffff;
$lightThemeText: #1F1F21;
$darkTheme: #282828;
$darkThemeText: #ffffff;
$darkThemeTextButton: #1F1F21;
$darkThemeButton: #ffffff;
$darkThemeButtonDisabled: #484848;